<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand logo" href="#"></a>
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="modal" data-target="#mobileMenuModal" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item mx-4 active">
                        <a class="nav-link" href="/games">Помощь</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="#"><i class="fa fa-vk"></i></a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="#"><i class="fa fa-telegram"></i></a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="#"><i class="fa fa-comment"></i></a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item ml-4 profile">
                            <a class="nav-link" href="/profile">
                                <img src="{{ asset(app.user.photo) }}">
                            </a>
                        </li>
                        <li class="nav-item profile">
                            <a class="nav-link" href="/profile">
                                <b>{{ app.user.firstName }}</b>
                                {% for wallet in app.user.wallets %}
                                    {% if wallet.type == 'RUB' %}
                                        <span class="wallet-balance rub">{{ wallet.balance }}р</span>
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link" href="{{ path('logout') }}">Выход</a>
                        </li>
                    {% else %}
                        <li class="nav-item ml-3">
                            <a class="nav-link" href="{{ path('login') }}" data-toggle="modal" data-target="#exampleModal">Вход</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>